
<footer class="footer container">
	 <div class="col-md-10 foot-left">
		<ul class="list-inline foot-links">
			<li><a target="_blank" href="https://github.com/qingmvc">GitHub</a></li>
			<li><a target="_blank" href="http://git.oschina.net/qingcms">GitEE</a></li>
			<li><a target="_blank" href="http://qingmvc.com">QingMVC</a></li>
			<li><a target="_blank" href="http://qingcms.com">QingCms</a></li>
			<li><a target="_blank" href="http://logo234.com">Logo234</a></li>
			<li><a target="_blank" href="http://mangdian.net">盲点笔记</a></li>
		</ul>
		<p class="foot-copyright">Powered by <a href="http://www.qingmvc.com" target="_blank">QingMVC</a> © 2013</p>
	</div>
	<div class="col-md-2 foot-right">
  		<a href="http://www.qingmvc.com" target="_blank" class="foot-logo" title="QingMVC.PHP { QING IS NOT SIMPLE }">QingMVC</a>
	</div>
</footer>