
.page-message {
    text-align: center;
	padding: 0 10px;
    padding-top: 40px;
}
.page-message a {
	color: #21759B;
	text-decoration: none;
}
.page-message a:hover {
	color: #D54E21;
}

.page-message>.msg{
	font-size: 30px;
	padding: 26px 6px;
	text-align: center;
	border-radius: 4px;
	margin: 0 auto;
	
	color: #a94442;
	background-color: rgba(233, 30, 99, 0.19);
    border-bottom: 1px solid rgba(233, 30, 99, 0.19);
	
	max-width: 600px;
}
.page-success>.msg{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.page-message .jump {
	text-align: center;
	padding: 4px 0;
}

.page-message .jump a {
	color: #aaa;
    font-size: 13px;
}

.page-message .jump a:HOVER {
	text-decoration: underline;
}
/*手机*/
@media(max-width:768px){
	.page-message>.msg{
		
	}
}